*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-content {
    max-width: 970px;
    margin: 0 auto;
}

.section-line {
    border-bottom: 1px solid rgba(208, 212, 216, .5);
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #4E5665;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none;
}

.header__top {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}

.header__top-inner{
    border: 2px solid #ECB84C;
    border-bottom:  none;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.header__title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 200px;
    line-height: 227px;
    margin: auto;
    font-weight: 700;
}

.header__text{
    font-size: 24px;
    line-height: 27px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: -12px;
}

.header__text::before,
.header__text::after {
    content: "";
    border-top: 2px solid #ECB84C;
    width: 100%;
}

.header__text::before {
    margin-right: 30px;
}

.header__text::after {
    margin-left: 30px;
}

.menu {
    border-bottom: 1px solid rgba(208, 212, 216, .5);
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__list-link {
    padding: 24px 10px 20px;
    color: #909090;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin: 0 6px;
    border-bottom: 4px solid transparent;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.menu__list-link:hover {
    color: #4E5665;
    border-bottom: 4px solid #ECB84C;
}

.reason {
    padding: 80px 0 0;
}

.reason__title {
    margin-bottom: 22px;
}

.reason__link {
    text-align: right;
}

.reason__link a {
    font-weight: 700;
    color: #ECB84C;
    margin-bottom: 36px;
}

.reason__statistics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
}

.reason_statistics-num {
    color: #4E5665;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin-top: 32px;
}

.reason_statistics-text {
    color: #909090;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.about {
    padding: 80px 0 0;
}

.about__title {
    margin-bottom: 13px;
}

.about__text {
    margin-bottom: 72px;
}

.about__item {
    margin-bottom: 100px;
    padding: 70px 0;
    background-repeat: no-repeat;
    background-position: right;
}

.about__box {
    padding: 33px 40px;
    background-color: #fff;
    max-width: 470px;
    position: relative;
}

.about__box::after,
.about__box::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
}

.about__box::before {
    top: 19px;
    left: 19px;
    background-image: url('../images/decor-left.svg');
}

.about__box::after {
    border-bottom: 2px solid #ECB84C;
    border-right: 2px solid #ECB84C;
    bottom: 19px;
    right: 19px;
}    

.about__box-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    line-height: 25px;
    color: #4E5665;
    margin-bottom: 20px;
}

.about__item:nth-child(even){
    background-position: left;
}

.about__item:nth-child(even) .about__box{
    margin-left: auto;
}

.about__item:nth-child(even) .about__box::before{
    right: 19px;
    left: auto;
    background-image: none;
    border-right: 2px solid #ECB84C;
    border-top: 2px solid #ECB84C;
}

.about__item:nth-child(even) .about__box::after{
    left: 19px;
    border-left: 2px solid #ECB84C;
    border-right: none;
}

.about__preview-title {
    margin-bottom: 38px;
}

.about__preview-text {
    margin: 53px auto 80px;
}

.about__images-box {
    padding-top: 73px;
    position: relative;
}

.about__dot {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(236,184,76, .75);
    cursor: pointer;
    position: absolute;
}

.about__dot::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffd600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about__dot--1 {
    top: 190px;
    left: 148px;
}

.about__dot--2 {
    top: 188px;
    left: 495px;
}

.about__dot--3 {
    top: 147px;
    right: 374px;
}

.about__dot--4 {
    bottom: 28px;
    right: 299px;
}

.about__dot::before {
    content: "";
    background-image: url('../images/line.svg');
    position: absolute;
    width: 244px;
    height: 122px;
    top: -113px;
    left: 25px;
    display: none;
}

.about__dot-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #505050;
    top: -140px;
    left: 150px;
    position: absolute;
    white-space: nowrap;
    display: none;
}

.about__dot:hover::before {
    display: block;
}

.about__dot:hover .about__dot-text {
    display: block;
}



.photo {
    padding: 80px 0;
}

.photo__title {
    margin-bottom: 42px;
}

.photo__text {
    padding-bottom: 48px;
    margin-bottom: 56px;
    position: relative;
}

.photo__text::after {
    content: "";
    width: 270px;
    height: 1px;
    background-color: rgba(208, 212, 216, .5);
    bottom: 0;
    position: absolute;
    margin: 0 auto;
}

.photo__slider {
    max-width: 640px;
    margin: 0 auto;
    filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
}

.slick-arrow {
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ECB84C;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 5;
}

.slick-prev {
    left: -20px;
}

.slick-next {
    right: -20px;
}

.footer {
    background: #F8F8F8; 
}

.footer__items {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    width: 140px;
}

.footer__item--company {
    width: 300px;
    padding-left: 180px;
}

.footer__item--blog {
    width: 300px;
}

.footer__items-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #4E5665;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer__item-link {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
}

.footer__item-link--sociale {
    padding-left: 28px;
    position: relative;
}

.footer__item-link--sociale::before {
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
}

.footer__item-link--message::before {
    background-image: url('../images/message.svg');
    width: 17px;
    top: 1px;
}

.footer__item-link--facebook::before {
    background-image: url('../images/facebook.svg');
}

.footer__item-link--instagram::before {
    background-image: url('../images/instagram.svg');
}

.footer__item-link--youtube::before {
    background-image: url('../images/youtube.svg');
}

.footer__item-link--email::before {
    background-image: url('../images/email.svg');
   
}

.footer__copy {
    font-size: 14px;
    line-height: 19px;
    padding-top: 40px;
    text-align: center;
}

.menu__btn {
    display: none;
}


@media (max-width: 700px) {

    .header__title {
        font-size: 120px;
        line-height: 150px;
    }

    .header__text {
        font-size: 20px;
    }

    .menu {
        position: relative;
    }

    .menu__btn {
        display: block;
        width: 40px;
        top: 10px;
        right: 40px;
        cursor: pointer;
        position: absolute;
    }

    .menu__btn span {
        display: block;
        margin-bottom: 10px;
        height: 4px;
        background-color: #ffd600;
    }

    .menu__list {
        display: none;
        padding-top: 60px;
        text-align: center;
    }

    .menu__list-link {
        display: block;
    }

    .
}